<MatCard class="demo-mat-card">
    <div class="demo-mat-card-content">
        <MatHeadline6 class="demo-mat-card-clean-margin">
            Asset
            </MatHeadline6>
            <MatSubtitle2 class="demo-mat-card-clean-margin">
                    car
            </MatSubtitle2>
        </div>
        <MatCardContent>
        <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                    $15,000
        </MatBody2>
    </MatCardContent>
</MatCard>
 
@code {
    public string MyString4
    {
        get => _myString4;
        set
        {
            _myString4 = value;
            this.StateHasChanged();
        }
    }

    private string _myString4;
}