@page "/finances"

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell">
            <AssetView> </AssetView>
        </div>
        <div class="mat-layout-grid-cell">
            <LiabilityView></LiabilityView>
        </div>
        <div class="mat-layout-grid-cell"></div>
    </div>
</div>

@code {

}